# Lab | Data Structuring and Combining Data

## Challenge 1: Combining & Cleaning Data

In this challenge, we will be working with the customer data from an insurance company, as we did in the two previous labs. The data can be found here:
- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv

But this time, we got new data, which can be found in the following 2 CSV files located at the links below.

- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file2.csv
- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file3.csv

Note that you'll need to clean and format the new data.

Observation:
- One option is to first combine the three datasets and then apply the cleaning function to the new combined dataset
- Another option would be to read the clean file you saved in the previous lab, and just clean the two new files and concatenate the three clean datasets

In [2]:
# Your code goes here
import pandas as pd
import numpy as np
#first cleaned data 
df1_cleaned=pd.read_csv(r'C:\Users\ampob\OneDrive\Documents\Ironhack\Week 2\lab-dw-data-cleaning-and-formatting\cleaned_data.csv')


url2= r'https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file2.csv'
df2=pd.read_csv(url2)

url3= r'https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file3.csv'
df3=pd.read_csv(url3)

In [280]:
df2.columns

# Changing st to state and correcting typo
df2.columns = df2.columns.str.lower().str.replace(' ', '_').str.replace('st', 'state').str.replace('custateomer', 'customer')

df2.columns

Index(['customer', 'state', 'gender', 'education', 'customer_lifetime_value',
       'income', 'monthly_premium_auto', 'number_of_open_complaints',
       'total_claim_amount', 'policy_type', 'vehicle_class'],
      dtype='object')

In [282]:
display(df2.nunique())
df2.head()

customer                     996
state                          6
gender                         4
education                      6
customer_lifetime_value      950
income                       733
monthly_premium_auto         126
number_of_open_complaints      6
total_claim_amount           667
policy_type                    3
vehicle_class                  6
dtype: int64

,customer,state,gender,education,customer_lifetime_value,income,monthly_premium_auto,number_of_open_complaints,total_claim_amount,policy_type,vehicle_class
0,GS98873,Arizona,F,Bachelor,323912.47%,16061,88,1/0/00,633.6,Personal Auto,Four-Door Car
1,CW49887,California,F,Master,462680.11%,79487,114,1/0/00,547.2,Special Auto,SUV
2,MY31220,California,F,College,899704.02%,54230,112,1/0/00,537.6,Personal Auto,Two-Door Car
3,UH35128,Oregon,F,College,2580706.30%,71210,214,1/1/00,1027.2,Personal Auto,Luxury Car
4,WH52799,Arizona,F,College,380812.21%,94903,94,1/0/00,451.2,Corporate Auto,Two-Door Car

In [284]:
#Checking structure of df2
df2.head()
df2['gender'].unique()

# Replace gender values according to the mapping
gender_mapping = {
    'Femal': 'F',
    'female': 'F',
    'Female': 'F',
    'Male': 'M'
}


df2['gender'] = df2['gender'].replace(gender_mapping)

df2['gender'].unique()

array(['F', 'M', nan], dtype=object)

In [286]:
display(df2['state'].unique())

array(['Arizona', 'California', 'Oregon', 'Nevada', 'Washington', 'AZ'],
      dtype=object)

In [288]:
# Correct state replacements
state_mapping = {
    'AZ': 'Arizona'
}
df2['state'] = df2['state'].replace(state_mapping)

# Cleaned state values
display(df2['state'].unique())

array(['Arizona', 'California', 'Oregon', 'Nevada', 'Washington'],
      dtype=object)

In [290]:
df2['education'].unique()
#Changing Bachelors to Bachelor
df2['education']=df2['education'].str.replace('Bachelors','Bachelor')
df2['education'].unique()

array(['Bachelor', 'Master', 'College', 'Doctor', 'High School or Below'],
      dtype=object)

In [292]:
#Cleaning customer_lifetime_value
df2['customer_lifetime_value']=df2['customer_lifetime_value'].str.replace('%','')
df2['customer_lifetime_value']

0       323912.47
1       462680.11
2       899704.02
3      2580706.30
4       380812.21
          ...
991     847141.75
992     543121.91
993     568964.41
994     368672.38
995     399258.39
Name: customer_lifetime_value, Length: 996, dtype: object

In [294]:
# Correct number_of_open_complaints format
def correct_complaints(complaint):
    try:
        return int(complaint.split('/')[1])
    except (IndexError, ValueError):
        return np.nan

df2['number_of_open_complaints'] = df2['number_of_open_complaints'].apply(correct_complaints).astype('int64')

print(df2['number_of_open_complaints'].head())

0    0
1    0
2    0
3    1
4    0
Name: number_of_open_complaints, dtype: int64

In [296]:
df2['vehicle_class'].unique()

# Define the mapping for replacement
car_mapping = {
    'Sports Car': 'Luxury',
    'Luxury SUV': 'Luxury',
    'Luxury Car': 'Luxury',
}

# Replace vehicle_class values according to the mapping
df2['vehicle_class'] = df2['vehicle_class'].replace(car_mapping)

df2['vehicle_class'].unique()

array(['Four-Door Car', 'SUV', 'Two-Door Car', 'Luxury'], dtype=object)

In [298]:
display(df2.nunique())

customer                     996
state                          5
gender                         2
education                      5
customer_lifetime_value      950
income                       733
monthly_premium_auto         126
number_of_open_complaints      6
total_claim_amount           667
policy_type                    3
vehicle_class                  4
dtype: int64

In [300]:
# Customer lifetime value should be numeric
df2['customer_lifetime_value'].unique()
df2['customer_lifetime_value']=df['customer_lifetime_value'].astype(float)
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 996 entries, 0 to 995
Data columns (total 11 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   customer                   996 non-null    object
 1   state                      996 non-null    object
 2   gender                     991 non-null    object
 3   education                  996 non-null    object
 4   customer_lifetime_value    996 non-null    float64
 5   income                     996 non-null    int64
 6   monthly_premium_auto       996 non-null    int64
 7   number_of_open_complaints  996 non-null    int64
 8   total_claim_amount         996 non-null    float64
 9   policy_type                996 non-null    object
 10  vehicle_class              996 non-null    object
dtypes: float64(2), int64(3), object(6)
memory usage: 85.7+ KB

In [302]:
# Filling null values
for column in df2.select_dtypes(include='number').columns:
    df2[column].fillna(df2[column].median(), inplace=True)  # Median for numerical columns

for column in df2.select_dtypes(include='object').columns:
    df2[column].fillna(df2[column].mode().iloc[0], inplace=True)  # Mode for categorical columns

print(df2.info())

#Changing float64 to int
float_cols = df2_dropped.select_dtypes(include='float64').columns
df2_dropped[float_cols] = df2_dropped[float_cols].astype('int64')
df2_dropped.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 996 entries, 0 to 995
Data columns (total 11 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   customer                   996 non-null    object
 1   state                      996 non-null    object
 2   gender                     996 non-null    object
 3   education                  996 non-null    object
 4   customer_lifetime_value    996 non-null    float64
 5   income                     996 non-null    int64
 6   monthly_premium_auto       996 non-null    int64
 7   number_of_open_complaints  996 non-null    int64
 8   total_claim_amount         996 non-null    float64
 9   policy_type                996 non-null    object
 10  vehicle_class              996 non-null    object
dtypes: float64(2), int64(3), object(6)
memory usage: 85.7+ KB
None
<class 'pandas.core.frame.DataFrame'>
Index: 991 entries, 0 to 995
Data columns (total 11 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   customer                   991 non-null    object
 1   state                      991 non-null    object
 2   gender                     991 non-null    object
 3   education                  991 non-null    object
 4   customer_lifetime_value    991 non-null    int64
 5   income                     991 non-null    int64
 6   monthly_premium_auto       991 non-null    int64
 7   number_of_open_complaints  991 non-null    Int64
 8   total_claim_amount         991 non-null    int64
 9   policy_type                991 non-null    object
 10  vehicle_class              991 non-null    object
dtypes: Int64(1), int64(4), object(6)
memory usage: 93.9+ KB

In [304]:
# Drop duplicates
if df2.duplicated().any(): 
    df2.drop_duplicates(inplace=True)

# Reset index
df2.reset_index(drop=True, inplace=True)

display(df2.head())

,customer,state,gender,education,customer_lifetime_value,income,monthly_premium_auto,number_of_open_complaints,total_claim_amount,policy_type,vehicle_class
0,GS98873,Arizona,F,Bachelor,4809.216960,16061,88,0,633.6,Personal Auto,Four-Door Car
1,CW49887,California,F,Master,2228.525238,79487,114,0,547.2,Special Auto,SUV
2,MY31220,California,F,College,14947.917300,54230,112,0,537.6,Personal Auto,Two-Door Car
3,UH35128,Oregon,F,College,22332.439460,71210,214,1,1027.2,Personal Auto,Luxury
4,WH52799,Arizona,F,College,9025.067525,94903,94,0,451.2,Corporate Auto,Two-Door Car

# Challenge 2: Structuring Data

In this challenge, we will continue to work with customer data from an insurance company, but we will use a dataset with more columns, called marketing_customer_analysis.csv, which can be found at the following link:

https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis_clean.csv

This dataset contains information such as customer demographics, policy details, vehicle information, and the customer's response to the last marketing campaign. Our goal is to explore and analyze this data by performing data cleaning, formatting, and structuring.

In [12]:
# Your code goes here
import pandas as pd
import numpy as np
#first cleaned data 
df4=pd.read_csv(r'https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis_clean.csv')
df4.head()

,unnamed:_0,customer,state,customer_lifetime_value,response,coverage,education,effective_to_date,employmentstatus,gender,...,number_of_policies,policy_type,policy,renew_offer_type,sales_channel,total_claim_amount,vehicle_class,vehicle_size,vehicle_type,month
0,0,DK49336,Arizona,4809.216960,No,Basic,College,2011-02-18,Employed,M,...,9,Corporate Auto,Corporate L3,Offer3,Agent,292.800000,Four-Door Car,Medsize,A,2
1,1,KX64629,California,2228.525238,No,Basic,College,2011-01-18,Unemployed,F,...,1,Personal Auto,Personal L3,Offer4,Call Center,744.924331,Four-Door Car,Medsize,A,1
2,2,LZ68649,Washington,14947.917300,No,Basic,Bachelor,2011-02-10,Employed,M,...,2,Personal Auto,Personal L3,Offer3,Call Center,480.000000,SUV,Medsize,A,2
3,3,XL78013,Oregon,22332.439460,Yes,Extended,College,2011-01-11,Employed,M,...,2,Corporate Auto,Corporate L3,Offer2,Branch,484.013411,Four-Door Car,Medsize,A,1
4,4,QA50777,Oregon,9025.067525,No,Premium,Bachelor,2011-01-17,Medical Leave,F,...,7,Personal Auto,Personal L2,Offer1,Branch,707.925645,Four-Door Car,Medsize,A,1

1. You work at the marketing department and you want to know which sales channel brought the most sales in terms of total revenue. Using pivot, create a summary table showing the total revenue for each sales channel (branch, call center, web, and mail).
Round the total revenue to 2 decimal points.  Analyze the resulting table to draw insights.

In [18]:
df4.columns

Index(['unnamed:_0', 'customer', 'state', 'customer_lifetime_value',
       'response', 'coverage', 'education', 'effective_to_date',
       'employmentstatus', 'gender', 'income', 'location_code',
       'marital_status', 'monthly_premium_auto', 'months_since_last_claim',
       'months_since_policy_inception', 'number_of_open_complaints',
       'number_of_policies', 'policy_type', 'policy', 'renew_offer_type',
       'sales_channel', 'total_claim_amount', 'vehicle_class', 'vehicle_size',
       'vehicle_type', 'month'],
      dtype='object')

In [16]:
# Pivot table to show total revenue for each sales channel
sales_channel_revenue = df4.pivot_table(index='sales_channel', values='total_claim_amount', aggfunc='sum').reset_index()
sales_channel_revenue.columns = ['sales_channel', 'Total Revenue']
sales_channel_revenue['Total Revenue'] = sales_channel_revenue['Total Revenue'].round(2)
sales_channel_revenue

  sales_channel  Total Revenue
0         Agent     1810226.82
1        Branch     1301204.00
2   Call Center      926600.82
3           Web      706600.04

2. Create a pivot table that shows the average customer lifetime value per gender and education level. Analyze the resulting table to draw insights.

In [20]:
# Pivot table to show average customer lifetime value per gender and education level
clv_gender_education = df4.pivot_table(index=['gender', 'education'], values='customer_lifetime_value', aggfunc='mean').reset_index()
clv_gender_education.columns = ['Gender', 'Education', 'Average CLV']
clv_gender_education['Average CLV'] = clv_gender_education['Average CLV'].round(2)
clv_gender_education

  Gender             Education  Average CLV
0      F              Bachelor      7874.27
1      F               College      7748.82
2      F                Doctor      7328.51
3      F  High School or Below      8675.22
4      F                Master      8157.05
5      M              Bachelor      7703.60
6      M               College      8052.46
7      M                Doctor      7415.33
8      M  High School or Below      8149.69
9      M                Master      8168.83

## Bonus

You work at the customer service department and you want to know which months had the highest number of complaints by policy type category. Create a summary table showing the number of complaints by policy type and month.
Show it in a long format table.

*In data analysis, a long format table is a way of structuring data in which each observation or measurement is stored in a separate row of the table. The key characteristic of a long format table is that each column represents a single variable, and each row represents a single observation of that variable.*

*More information about long and wide format tables here: https://www.statology.org/long-vs-wide-data/*

In [25]:
# Your code goes here
import pandas as pd

df5=df4.copy()

# Convert the date column to datetime format if it exists
df5['effective_to_date'] = pd.to_datetime(df5['effective_to_date'])
df5['month'] = df5['effective_to_date'].dt.month

# Create a summary table showing the number of complaints by policy type and month
complaints_summary = df5.groupby(['policy_type', 'month']).size().reset_index(name='number_of_open_complaints')

complaints_summary.head()

      policy_type  month  number_of_open_complaints
0  Corporate Auto      1                       1252
1  Corporate Auto      2                       1089
2   Personal Auto      1                       4329
3   Personal Auto      2                       3799
4    Special Auto      1                        237